/* body {
  background-color: tomato;
} */
/* цвет большого текста и кнопки, адреса, часть лого  #ffffff
цвет е-мейл и телефона такой же 60% прозрачности,
кнопки активные на стр. портфолио, 

цвет заголовков, имен сотрудников, 
кнопки заголовков не в активном соствоянии, 
кнопки не активные на портфолио,
названий работ портфолио #212121 

цвет параграфов, должностей сотрудников,
рубрика к кот.относят карточку работы(портфолио) #757575

лого, кнопка в навигации на текущей странице,
при навидени е-мейл и тел. #2196F3
 */

/* цвет навигации  #ffffff

цвет бекграунд 1 секция главной #2F303A 
(в 4 дадании - 40% и фото на фоне)

фон 2-3 секция #E5E5E5
фон 4 секция з сотр. #F5F4FA

footer fon #2F303A
фон карточек сотр.#FFFFFF
*/

.body {
  background-color: #ffffff;
  color: #212121;
}

.logo {
  color: #2196f3;
}
